<div id="${data.dataId}" class="${cssId}-box-map">
	<div class="${cssId}-name"><a href="$data.detailsUrl">$data.name</a></div>
	#if($data.name2)
	<div class="${cssId}-name2">$data.name2</div>
	#end
	
	#if($features.eintragAdresse)
	<div class="${cssId}-adresse">
		<div class="${cssId}-strasseNr">$data.strasseNr</div>
		<div class="${cssId}-plz-ort">
			<span class="${cssId}-plz">$data.landPlz</span>
			<span class="${cssId}-ort">$data.ort</span>
		</div>
	</div>
	#end
	#if($features.eintragTel)
	<div class="${cssId}-telefon">Tel: $!data.telefon</div>
	#end
</div>

<div class="span-12 last">
	<div #if($features.anzeigeHervorhebung)class="shadow-12"#end>
		<div class="${cssId}-box#if($features.anzeigeHervorhebung)-highlight#end">
			<div class="span-2 ${cssId}-image-box" #if($features.anzeigeHervorhebung)style="width:60px;"#end>
				#if($features.eintragLogo && $data.logoUrl)		
				<a href="$data.detailsUrl"><img class="logopreview" src="$data.logoUrl"/></a>				
				#elseif($features.eintragFoto && $data.fotoUrl)		
				<a href="$data.detailsUrl"><img class="fotopreview" src="$data.fotoUrl"/></a>
				#else
				<a href="$data.detailsUrl"><img class="${cssId}-fotopreview-dummy" src="${contextPath}/img/foto-dummy-100.jpg"/></a>				
				#end
			</div>
			<div  class="span-9" #if($features.anzeigeHervorhebung)style="width:340px;"#end>
					#if($data.name)
					<div class="${cssId}-name">
						<a href="$data.detailsUrl">$data.name</a> 
					</div>			
					#end
					#if($data.name2)
					<!-- 
					<div class="${cssId}-name2">$data.name2</div>
					-->			
					#end
					#if($features.eintragAdresse)
					<div class="${cssId}-adresse">
						<div class="${cssId}-strasseNr">
							$data.strasseNr,  <span class="${cssId}-plz">$data.landPlz</span> <span class="${cssId}-ort">$data.ort</span>
						</div>
					</div>			
					#end
					#if($features.eintragTel && $data.telefon)
					<!-- 
					<div class="${cssId}-telefon">
						Telefon: $data.telefon
					</div>
					 -->
					#end
					#if($features.eintragEmail && $data.email)
					<!-- 
					<div class="${cssId}-email">
						Telefon: $data.email
					</div>
					 -->
					#end
					#if($data.teaser)
					<div class="${cssId}-teaser">
						$data.teaser <a href="$data.detailsUrl">mehr...</a>
					</div>
					#end
					
					#if(!$data.highlights.empty)
					<div class="${cssId}-highlights-box">
						<div class="${cssId}-highlights">
						#foreach($highlight in $data.highlights)
							$highlight
						#end		
						</div>		
					</div>
					#end	
			</div>			
			<div class="span-1 last">
					<div class="${cssId}-adresse-icon">
						<a href="javascript:YAHOO.reise.googlemaps.showLatLngDiv('${data.mapId}', 'reisebuero', $data.lat, $data.lng, '${data.dataId}', 11, '${contextPath}/img/gmaps/iconr${data.idx}.png'); ">
							<img title=">> Karte" src="${contextPath}/img/gmaps/iconr${data.idx}.png"/>
						</a>
					</div>
			</div>			
		</div>
	</div>
</div>
	
<script type="text/javascript">
$(function() {
	$(".logopreview").jScale({w:'60px', h:'60px'});
	$(".fotopreview").jScale({w:'60px', h:'60px'});
	YAHOO.reise.googlemaps.createMarker("reisebuero", $data.lat, $data.lng, '${data.dataId}', '${contextPath}/img/gmaps/iconr${data.idx}.png');
});	
</script>	
