.${cssId}-container {

}

.${cssId}-content {
}

.${cssId}-title {
	font-weight:bold;
	padding: 4px;
	border-top: 1px dotted #ccc;
	margin-bottom: 10px;
	margin-top: 20px;
}

.${cssId}-label {
	padding: 4px;
	width: 150px;
	color: 333;
}

.${cssId}-input {
	font-weight:plain;
	padding: 4px;
	width: 300px;
}


