#foreach($def in $definitions)
if(typeof ${def.name}=='undefined') {
	zscript.define('$def.name', '${contextPath}/ztemplates/zscript/${def.name}.js');
	zscript.setLoaded('${def.name}');
}

#end

#foreach($def in $definitions)
if(typeof ${def.name}=='undefined') {
$def.content
}

#end
