<input type="text" id="${id}" #if(!$property.writeable) name="${name}_disabled" readonly="readonly" disabled="disabled" #else name="${name}" #end value="$!{value}" #if(${style})style="${style}"#end #if(${cssClass})class="${cssClass}"#end #if($property.required)required="required"#end $!{htmlAttributes}></input>
#if(!$property.writeable)
<input type="hidden" name="${name}" value="$!{value}"/>
#end