<input type="text" id="${id}" name="${name}" value="$!{value}" #if(${cssClass})class="${cssClass}"#end #if(!$property.writeable)readonly="readonly"#end #if($property.required)required="required"#end $!{htmlAttributes}></input>