<input type="file" id="${id}" #if(!$property.writeable) name="${name}_disabled" readonly="readonly" disabled="disabled" #else name="${name}" #end #if(${style})style="${style}"#end #if(${cssClass})class="${cssClass}"#end value="$!{value}" #if($accept)accept="$accept"#end #if(!$property.writeable)readonly="readonly"#end #if($property.required)required="required"#end $!{htmlAttributes}></input>
#if(!$property.writeable)
<input type="hidden" name="${name}" value="$!{value}"/>
#end