<textarea id="${id}" name="${name}" class="ztemplates-input-textarea $!{cssClass}" $!{htmlAttributes} #if($rows)rows="${rows}"#end #if($cols)cols="${cols}"#end #if($wrap)wrap="${wrap}"#end>$!{value}</textarea>