<a name="${propertyName}"></a>
<select id="${selectId}" name="${propertyName}" class="${cssId}-input" size="${size}" $!{htmlAttributes} cssid="${cssId}">
#foreach($item in $items)
	<option class="${cssId}-input-option" value="$!{item.key}"#if($item.selected) selected="selected"#end>$item.value</option>
#end
</select>