<a name="${name}"></a>
<textarea id="${id}" class="${cssId}-input" name="${name}" $!{htmlAttributes} #if($rows)rows="${rows}"#end #if($cols)cols="${cols}"#end #if($wrap)wrap="${wrap}"#end cssid="${cssId}">$!value</textarea>