<span class="${cssId}-container" id="${id}">
#foreach($item in $items)
<input type="radio" id="${item.id}" name="${name}" value="${item.key}" class="ztemplates-input-radio $!{cssClass}" $!{htmlAttributes}></input><span class="${cssId}-item-text">$!{item.value}</span>#if($vertical)<br/>#end
#end
</span>
