<a name="${name}"></a>
<select id="${id}" name="${name}" class="${cssId}-input" size="${size}" $!{htmlAttributes} cssid="${cssId}">
#foreach($option in $options)
	<option class="${cssId}-input-option" value="$!{option.key}"#if($option.selected) selected="selected"#end>$option.value</option>
#end
</select>