<textarea id="${id}" name="${name}" #if(${style})style="${style}"#end #if(${cssClass})class="${cssClass}"#end #if(!$property.writeable)readonly="readonly"#end #if($property.required)required="required"#end #if($rows)rows="${rows}"#end #if($cols)cols="${cols}"#end #if($wrap)wrap="${wrap}"#end $!{htmlAttributes}>$!{value}</textarea>